.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --hero-text-color: #e9e9e9;
  --accent-color: #28a745;
  --accent-bg-color: #0284d0;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f4f4f4;
  --white-bg-color: #ffffff;
  --footer-bg-color: #333333;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}

.section {
  outline: 1px solid red;
  padding: 30px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1360px) {
  .section {
    padding: 50px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  padding: 0 50px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
  margin-right: 10px;
}

.icon-logo {
  margin-right: 10px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 38px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 21px 0;
  color: var(--secondary-text-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: currentColor;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover::after,
.navigation__link:focus::after {
  opacity: 1;
}

/*^ hero */
.hero {
  padding: 259px 0 284px;
  background-color: #5e5e5e;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
  max-width: 1360px;
  height: 768px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--hero-text-color);
  margin-bottom: 45px;
}

.hero__text {
  font-size: 22px;
  line-height: 1.67;
  color: var(--hero-text-color);
  margin-bottom: 29px;
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--white-bg-color);
  fill: var(--accent-color);
}

.icon-point {
  margin-right: 5px;
}

/*^ about */
.about {
  width: 1360px;
  background-color: var(--secondary-bg-color);
}

.about-container {
  padding: 0 66px;
}

.about__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.65;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: -70px;
}

.about__item {
  margin-left: 70px;
  width: calc((100% - 210px) / 3);
}

.about__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 67px;
  height: 67px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

/*^ solutions */
.solutions {
  padding: 0;
  width: 100%;
}

.solutions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.solutions__content {
  padding: 80px 40px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.solutions__pre-title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.65;
}

.solutions__title {
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.solutions__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  padding: 10px 40px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions__btn:hover, .solutions__btn:focus {
  -webkit-box-shadow: 0px 0px 5px 0px var(--white-bg-color);
          box-shadow: 0px 0px 5px 0px var(--white-bg-color);
  text-shadow: var(--secondary-text-color) 0 0 5px;
}

/*^ business cases */
.business-container {
  padding: 0 30px;
  text-align: center;
}

.business__pre-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.65;
}

.business__title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.business__list {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
}

.business__item {
  margin-left: 8px;
  margin-bottom: 8px;
  width: calc((100% - 32px) / 4);
}

/*^ blog */
.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.blog__content {
  padding: 112px 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-bg-color);
}

.blog__pre-title {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.65;
}

.blog__title {
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.blog__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  padding: 10px 40px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
  -webkit-transition: text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__btn:hover, .blog__btn:focus {
  -webkit-box-shadow: 0px 0px 5px 0px var(--white-bg-color);
          box-shadow: 0px 0px 5px 0px var(--white-bg-color);
  text-shadow: var(--secondary-text-color) 0 0 5px;
}

/*^ team */
.team-container {
  text-align: center;
  padding: 0 30px;
}

.team__pre-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.65;
}

.team__title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  margin-left: -20px;
}

.team__item {
  margin-left: 20px;
  width: calc((100% - 60px) / 3);
}

.team__name {
  margin: 15px 0;
  font-size: 25px;
  line-height: 1.27;
}

.team__links {
  position: relative;
}

.social-media {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(47, 48, 58, 0.8);
}

.social-media__item:not(:last-child) {
  margin-right: 25px;
}

.team__links:hover .social-media {
  opacity: 1;
}

.social-media__link {
  fill: var(--secondary-text-color);
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  fill: var(--accent-color);
}

/*^ callback */
.callback {
  padding-top: 0;
}

.callback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--secondary-bg-color);
  padding: 0;
}

.request {
  width: 100%;
  padding: 140px 35px 20px 25px;
}

.request__title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.callback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback-form__input {
  margin-bottom: 36px;
  outline: none;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 0px;
  padding: 5px;
}
.callback-form__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.callback-form__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.callback-form__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.callback-form__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.callback-form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 1360px) {
  .callback-form__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  .callback-form__input::-moz-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  .callback-form__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  .callback-form__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
  .callback-form__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
  }
}

.callback-form__button {
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback-form__button:hover, .callback-form__button:focus {
  color: var(--accent-color);
  background-color: var(--white-bg-color);
}

/*^ footer */
.footer {
  background-color: var(--footer-bg-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-right: -25px;
}

.footer__item {
  margin-right: 25px;
}

.footer__link {
  fill: var(--secondary-text-color);
}

.copyright {
  text-align: center;
  padding-bottom: 16px;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */