/*^ footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer-container {
  padding: 20px 0;
}

.footer__list {
  @include centeredFlex;
  margin-bottom: 10px;
}

.footer__item:not(:last-child) {
  margin-right: 25px;
}

.footer__link {
  fill: var(--secondary-text-color);
}

.copyright {
  text-align: center;
  color: var(--secondary-text-color);
}
