/*^ hero */
.hero-container {
  padding: 0 40px;
  @include desktop {
    padding: 0;
  }
}
.hero {
  padding: 144px 0 95px;
  background-color: #5e5e5e;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero-mob.jpg');
  width: 100%;
  height: 533px;
  margin: 0 auto;
  @include backgroundImg(cover);
  @include retina {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero-mob-2x.jpg');
  }

  @include tablet {
    padding: 407px 0 412px;
    height: 1024px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero-tab.jpg');
    @include retina {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/hero-tab-2x.jpg');
    }
  }

  @include desktop {
    padding: 259px 0 284px;
    width: 1360px;
    height: 768px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/hero.jpg');
    @include retina {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/hero-2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 9px;
  @include font(300, 52px, 1.27);
  color: var(--hero-text-color);

  @include tablet {
    @include font(300, 55px, 1.2);
    margin-bottom: 25px;
  }
  @include desktop {
    margin-bottom: 45px;
  }
}

.hero__text {
  @include font(400, 22px, 1.67);
  color: var(--hero-text-color);
  margin-bottom: 27px;
  @include tablet {
    margin-bottom: 30px;
  }
}

.hero__btn {
  @include centeredBtn;
  border-radius: 5px;
  padding: 10px 35px;
  @include font(400, 16px, 1.6);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
  @include transitionX3(color, background-color, fill);

  @include tablet {
    @include font(400, 18px, 1.56);
  }
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--white-bg-color);
  fill: var(--accent-color);
}

.icon-point {
  margin-right: 5px;
}
