/*^ hero */
.hero {
  padding: 259px 0 284px;
  background-color: #5e5e5e;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/hero.jpg);
  max-width: 1360px;
  height: 768px;
  margin: 0 auto;
  @include backgroundImg(cover);
}

.hero__title {
  @include font(300, 55px, 1.2);
  color: var(--hero-text-color);
  margin-bottom: 45px;
}

.hero__text {
  font-size: 22px;
  line-height: 1.67;
  color: var(--hero-text-color);
  margin-bottom: 29px;
}

.hero__btn {
  @include centeredBtn;
  
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
  @include transitionX3(color, background-color, fill);
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--white-bg-color);
  fill: var(--accent-color);
}

.icon-point {
  margin-right: 5px;
}
